.map-popup-class {
    width: 188px;
    .mapboxgl-popup-content {
        background-color: #3B394F;
        color: #DBDBDB;
        .title {
            color: #FFF;
            margin-bottom: 17px;
        }
        .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 17px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        span {
            &:last-of-type {
                color: #FFB300;
                margin-bottom: 0;
            }
        }
    }
    .mapboxgl-popup-tip {
        border-top-color: #3B394F;
    }
}
.action-list {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    .zoom-list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 14px 8px;
        border-radius: 8px;
        & > img {
            cursor: pointer;
            &:first-of-type {
                margin-bottom: 4px;
            }
        }
    }
    .location-action {
        margin-top: 8px;
        cursor: pointer;
    }
    .toggle-action {
        margin-top: 8px;
        cursor: pointer;
    }
}







a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right {
    display: none;
}
